<div class="container">
  <h2 style="text-align: center;">CRUD</h2>

  <div class="content">
    <div class="form-section">
      <h3>{{ isEditMode ? 'Update Details' : 'Add Details' }}</h3>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="crud-form">
        <div class="form-group">
          <label>ID</label>
          <input type="number" formControlName="id" placeholder="Enter ID" />
          <div class="error" *ngIf="form.get('id')?.touched && form.get('id')?.invalid">
            <small *ngIf="form.get('id')?.errors?.['required']">ID is required</small>
            <small *ngIf="form.get('id')?.errors?.['min']">Min ID is 1</small>
          </div>
        </div>

        <div class="form-group">
          <label>Name</label>
          <input type="text" formControlName="name" placeholder="Enter Name" />
          <div class="error" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
            <small *ngIf="form.get('name')?.errors?.['required']">Name is required</small>
            <small *ngIf="form.get('name')?.errors?.['minlength']">Min 3 characters</small>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" [disabled]="form.invalid">{{ isEditMode ? 'Update' : 'Save' }}</button>
          <button type="button" (click)="onClear()">{{ isEditMode ? 'Cancel' : 'Clear' }}</button>
        </div>
      </form>
    </div>

    <div class="table-section">
      <h3>List</h3>
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataList">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>
                <button (click)="onEdit(item)">Edit</button>
                <button (click)="onDelete(item.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>